{% extends "basic.html" %}

{% block title %}
<title>Zeiterfassung</title>
{% endblock %}

{% block body %}

<h2>Zeiterfassung</h2>

<div>
	<form method="POST">
		<label>Datum</label><input type="date" name="datum" placeholder="Datum" required>
		<label>Startzeit</label><input type="time" name="startzeit" placeholder="Startzeit" required>
		<label>Endzeit</label><input type="time" name="endzeit" placeholder="Endzeit" required>
		<label>Pause in Min.</label><input type="number" min="0" step="1" name="pause" placeholder="20" required><br>
		<br>

		<!-- Alle Kategorien werden aufgeführt. Die Kategorien werden aus Dict kategorien_farben im main.py genommen. -->
		{% for kategorie in kategorien %}
		<div class="custom-control custom-radio">
		  <input type="radio" class="custom-control-input" id="{{ kategorie }}" name="kategorie" value="{{ kategorie }}" checked>
		  <label class="custom-control-label" for="{{ kategorie }}">{{ kategorie }}</label>
		</div>
		{% endfor %}

		<br>
		<button type="submit">Hinzufügen</button>

		<!-- Mit Flash wird eine Nachricht ausgegeben -->
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
				<br><h6>{{ message }}</h6>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}

	</form>
</div>

{% endblock %}

<!-- Quellen:
- https://www.w3schools.com/html/html_form_input_types.asp
- https://mdbootstrap.com/docs/jquery/forms/radio-button/ -->

